<% from = Date.today.at_beginning_of_week %>
<% to = Date.today.at_end_of_week %>
<% results = [] %>

<% total_hours_sum = TimeEntry.sum(:hours, :conditions => ["user_id = ? AND spent_on <= ? AND spent_on >= ?", User.current.id, to, from])
   #set to infinity so we get 0 when counting relative values
   total_hours_sum = 1.0 / 0 if total_hours_sum <= 0 %>

<% sums_per_project = TimeEntry.sum(:hours, :conditions => ["user_id = ? AND spent_on <= ? AND spent_on >= ?", User.current.id, to, from],
  :group => '`issues`.`project_id`', :include => {:issue => :project}) %>

<% sums_per_project.each do |project_id, hours|
    results.push [project_id, Project.find_by_id(project_id).name, (100 * hours/total_hours_sum).to_i, hours]
  end %>


<h3><%= l(:label_time_entry_overview) %> <%= format_date(from) %> - <%= format_date(to) %></h3>
<table class="list time_entrie">
  <thead>
    <tr>
      <th><%= l(:field_project) %></th>
      <th>%</th>
      <th><%= l(:field_hours) %></th>
    </tr>
  </thead>
  <tbody>
    <% for result in results %>
      <tr>
        <td><%= link_to result[1], :controller => 'projects', :action => 'show', :id => result[0] %></td>
        <td><%= progress_bar result[2], :width => '80px', :legend => result[2].to_s + '%' %></td>
        <td><%= l_hours(result[3]) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= l(:total) %></td><td></td><td><%= l_hours(total_hours_sum) %></td>
    </tr>
  </tfoot>
</table>
<% content_for :header_tags do %>
<% end %>
